.motion {
	position: absolute;
	height: 80vh;
	width: 80vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
