main {
  height: 100%;
  display: flex;
}

.animated-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.appear,
  &.enter {
    opacity: 0;
  }

  &.appear-active,
  &.enter-active {
    transition: .3s ease-in;
    opacity: 1;
  }

  &.exit {
    transition: .3s ease-out;
    opacity: 1;
  }

  &.exit-active {
    opacity: 0;
  }
}
